/* partials */
@import "./variables";

/* mixins */
@mixin spinner-animation {
    transition-property: transform;
    animation-name: rotate; 
    animation-duration:5s;  
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @keyframes rotate {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
      }
}

#spinner{
    /* spinner sizing & attributes */
    width:300px;
    height:300px;
    border-top:60px solid $ltColor;
    border-right:28px solid $ltColor;
    border-left: 52px solid $ltColor;
    border-bottom:88px solid $ltColor;
    // width:60px;
    // height:60px;
    // border-top:15px solid $ltColor;
    // border-right:7px solid $ltColor;
    // border-left: 13px solid $ltColor;
    // border-bottom:22px solid $ltColor;
    border-radius:50%;
    opacity: 70%;
    /* spinner positioning */ 
    position:absolute;
    top:80px;
    margin-left:-200px;
    left: 50%;
    /* spinner animation */  
    @include spinner-animation;
}
  
/* text positioning */  
#para{
    position:absolute;
    //top:250px;
    top:550px;
    padding:5%;
    text-align:center;
    left:37%;
  }
  
/* rest of page style*/
body{
    background:$dkColor;
    font-family: $bodyFont;
    color:$txtColor;
    font-weight: 200;
    #container{
        width:100%;
        max-width:700px;
        margin:1em auto;
        position:relative;
      }
  }
  

 