// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
//@import 'components.content';

.grid-container {
    display: grid;
    max-width: auto;
    margin: auto;
    align-items: center;
    text-align: center;
    grid-template-areas: 
        "header header"
        "nav nav"
        "sidebar main"
        "footer footer";
    grid-template-columns: 1fr 2fr;
    //grid-template-rows: auto;
    grid-template-rows: 4fr;
    //grid-gap: 1rem;
}

.header {
    grid-area: header;
}

.top {
    background: red;
    padding: 3rem 3rem;
}

.nav {
    background: lime;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    flex-wrap: wrap;
    flex: 1 1 auto;
    //@include media-query(tab) {
    //    margin: 0;
    //    width: auto;
    //}
    &__list {
        padding: 0;
        margin: 0 auto;
        list-style: none;
        text-align: center;
    }
    &__item {
        display: inline-block;
        font-size: 20px;
        margin-right: 2rem;
        &:last-of-type {
            margin: 0;
        }
    }
    &__link {
        color: white;
    }
}

.sidebar {
    grid-area: sidebar;
    background: purple;
    padding: 13em 13rem;
}

.main {
    grid-area: main;
    background: orange;
    padding: 13em 13rem;
}

.footer {
    grid-area: footer;
    background: blue;
    padding: 3em 3rem;
}